#header {
    background-color: lightblue;
    color: black;
    padding: 40px;
    text-align: center;
}
    
.mycontainer {
    width:100%;
    overflow:auto;
  }
  .mycontainer div {
    width:33%;
    float:left;
  }
 
h1 {
  text-align: center;
  color: aqua;

 }

.p {
 padding:20px
 background-color:  #44336;
 color: white
 transition: opacity 0.65;
 margin-bottom; 15px;
 backbground-color: #2196f3;
}